// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin webpeptideshakertheme {
    @include valo;
    // Insert your own theme rules here

    .margin{
        padding: 10px;
    }
    .autooverflow{
        overflow: auto;
    }
    .v-slot-mainlayout{
        background-color: white;
    }
    .mainlayout{
        min-height: 400px;
        min-width: 1000px;

    }
    .v-link-headerlogo { 	
        line-height:80px !important; 
        color:black !important; 
        font-size:30px; 
        text-decoration:none !important;
        margin-top: -40px;
    }
    .v-link-headerlogo font{
        text-decoration: none !important;
        font-size: 15px;
        font-style: italic;
        color: #cd6e1d;
    }   
    .galaxybtn {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 30px;
        border: 1px solid #2c3143;
        background-image: url("img/galaxyLogo.png");
        background-size: auto 105%;
        background-repeat: no-repeat;
        font-weight: bold;
        background-color: #2c3143;
        color: white;
        cursor: pointer;
    }

    .galaxybtn:hover {
        background-color: #2c3143;
        color: white;
    }

    .settingbtn {

        background-image: url(img/cog-o.svg);
        background-repeat: no-repeat;
        background-size: auto 90%;
        background-position: center;
        border: 1px solid #2c3143;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left:none;

        cursor: pointer;
    }

    .settingbtn:hover {
        background-color: #2c3143;
        background-image: url(img/cog-o_dark.svg);
        cursor: pointer;
    }
    .disconnect{
       	color: white !important;
        background-color: #4f9d13 !important;
    }
    .hide {
        opacity:0 !important;
    }
    .v-slot-rightsidebtncontainer {
        margin-top: 30px;
        max-height: 200px;
        width: 50px !important;
        margin-left:-35px;
        background-color:white;
        border-top:2px solid lightgray;
        border-bottom:2px solid lightgray;
        border-bottom:2px solid lightgray;
        overflow:hidden;
    }

    .rightsidebtncontainer {
        min-width: 16px;
        max-width: 64px;
        max-height: 280px;
        -webkit-transition: all 1.5s ease-in-out;
        -moz-transition: all 1.5s ease-in-out;
        -o-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
    }
    .smallmenubtn {
        background-color: white;
        border: 2px solid lightgray;
        border-radius: 5px;
        width: 35px !important;
        height: 35px !important;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .smallmenubtn:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        border-color: gray;
        padding:0px !important;
    }

    .selectedsmallbtn {

        width: 45px !important;
        height: 45px !important;
        border-width: 2px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        border-color: gray;
        padding: 0px !important;
    }

    .smallmenubtn img {
        padding: 10%;
        background-color:whitesmoke;
    }

    .hidepanel {
        width: 0px !important;
        height: 0px !important;
        overflow: hidden !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .v-absolutelayout-wrapper-hidepanel{
        width:0px !important;
    }

    .activelayout {
        background-color: white;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .v-slot-leftsidebtncontainer {
        margin-top: 20px;
        max-width:100px !important;
    }

    .leftsidebtncontainer {

        margin-left:2px;
        position:relative;
        z-index:10000000000000000000000000000 !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .lightgraylayout {
        background-color: lightgray;
    }

    .bigmenubtn {
        max-height: 225px;
        height:auto !important;
        padding:10%;
        border: 2px solid rgba(0, 0, 255, 0);
        cursor: pointer;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .bigmenubtn img {
        max-width:100px !important;
        width: 100% !important;
        height: auto !important;
        border: 2px solid lightgray;
        border-radius: 5px;
        cursor: pointer;
        padding:10%;
    }

    .bigbtnText {
        max-width: 150px;
        font-size: 12px;
        font-weight: bold;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        background-color: white;
        border: 2px solid lightgray;
        border-left-color: white !important;
        z-index: 10000000 !important;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        margin-left: -3px !important;
    }

    .selectedbiglbtn {
        background-color: whitesmoke;
        border: 2px solid lightgray;
        border-right-color: whitesmoke;
        border-radius: 5px;
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        position: relative;
        z-index: 10 !important;
        padding:10%;
    }

    .selectedbiglbtn img {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        border-color: #ada9a9;
    }

    .bigmenubtn :hover {
        background-color: whitesmoke;
    }

    .selectedbiglbtn .bigbtnText {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
        border-color: #ada9a9;
    }

    .zeropadding img {
        padding: 0px !important;
    }

    .integratedframe {
        background-color: whitesmoke;
        border: 2px solid lightgray;
        border-radius: 5px;
    }
    .viewframe{
        padding: 10px !important;

    }
    .v-slot-viewframe {
        height:100% !important;
    }
    .viewframecontent{
        background-color:white;
        border:2px solid lightgray;
        border-radius: 5px;
    }
    .v-slot-bottomsidebtncontainer{
        opacity: 0;
    }



    /****mobile css**/
    .horizontalcss .mainlayout {
        min-height: 400px;
        min-width: 99%;

    }

    .horizontalcss .v-slot-leftsidebtncontainer {
        width: 1% !important;
        background-color: white;
        opacity:0;
    }

    .horizontalcss .v-slot-integratedframe {
        width: 99% !important;
        height: 90% !important;

    }
    .horizontalcss .v-slot-bottomsidebtncontainer{       
        opacity: 1;
    }
.horizontalcss .bigmenubtn img {
	height:100% !important;
	width: 40px !important;
	border: 2px solid lightgray;
	border-radius: 5px;
	cursor: pointer;
	padding: 10% !important;
}
.horizontalcss zeropadding{
	padding:10px !important;
}
.horizontalcss .selectedbiglbtn {
	background-color:whitesmoke;
	margin-top:-2px !important;
	border-top-color:whitesmoke;
	border-right-color:lightgrey;
	border-bottom-right-radius:5px;
	
}
 .horizontalcss.autooverflow{
	overflow:hidden !important;
}

}